.contenedorCentral{
  text-align: center;
}

#serialNumberInput{
  width: 500px;
  text-align: center;
  margin-left: 427px;
}

#cancelButton{
  margin-left: 500px;
  border-radius: 15%;
}

#continueButton{
  margin-left: 209px;
  border-radius: 15%;
}

#labelNames{
  margin-left: 400px;
}

#firstName{
  width: 300px;
  margin-left: 395px;
}

#lastName{
  margin-top: 32px;
  width: 300px;
  margin-left: 5px;
}

#fakeLabel{
  margin-top: 14px;
  margin-left: 550px;
  margin-bottom: 10px;
}

#basic-addon1{
  margin-left: 550px;
}

.labelAlign{
  margin-left: 550px;
}

#password, #confirmPassword, #emailAlign, #birthDay, .form-check{
  margin-left: 550px;
  width: 266px;
}

#cancelRegister{
  margin-left: 560px;
}

#register{
  margin-left: 66px;
}

#doubleMarginTopButton{
  margin-top: 30px;
}
